<div class="container color-dark">
  <div class="col">
    <p>Dodaj licznik:</p>
  </div>
  <div class="col">
  <p>Tabela grup taryfowych</p>
</div>
</div>

<div class="container color-light">
  <div class="col">
    <p class="sm">Wprowadź w poniższych polach dane i zatwierdź przyciskiem Dodaj licznik</p>

    <form>
      Numer ID klienta: <input type="text" class="txt" name="idklienta" placeholder="np.: 1234567890" /><br />
      Miesiąc + rok: <input type="text" class="txt" name="miesiacrok" placeholder="mmRRRR, np.: 042016" /><br />
      Kod gr. taryfowej: <input type="text" class="txt" name="kodtaryfy" placeholder="np.: A" /><br />
      Zużycie energii w kW: <input type="text" class="txt" name="zuzyciekw" placeholder="np.: 442321.2" /><br />
      Cena za 1kW: <input type="text" class="txt" name="cenajedn" placeholder="np.: 0.24" /><br />

      <input type="submit" class="btn" value="Dodaj licznik" />
    </form>

  </div>
 <!-- <div class="col">
    <p class="taki-container">
    Tekst taki specjalny</p>
  </div>-->
</div>
